h3 {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  font-family: ariel, sans-serif;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th, td, tr {
  border: 1px solid #999999;
  padding: 10px;
  font-family: arial, sans-serif;
}

th {
  background-color: #444;
  color: white;
}

tr:nth-child(odd) {
  background-color: #c0bdbd;
}

tr:last-child {
  background-color: white;
}
.boldright {
  font-weight: bold;
  text-align: right; 
}
